.rsvp-main-font {
    font-family: 'MoYangZhuanJi';
    font-size: 38px;
    color: white;
}

.rsvp-eng-font {
    font-family: 'Cambay';
    letter-spacing: 0.1em;
    color: white;
    font-size: 15px;
}

.rsvp-font-large {
  font-size: 25px;
}

.rsvp-spacing {
  justify-content: center;
  gap: 1em;
}
