.top-spacing {
    padding-top: 10rem;
}

.divider-title {
    height: 3px;
    background-color: white;
    width: 50vw;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
  }

.text-details {
    font-family: 'Cambay';
    color: white;
    letter-spacing: 0.3em;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}